
{% set primaryNavItems = [
  { 'label': 'Home', 'url': '/' },
  { 'label': 'Brand Stories', 'url': '/brand-stories-dev' },
  { 'label': 'What We Do', 'url': '/services' },
  { 'label': 'About Us', 'url': '/about' },
  { 'label': 'The Journal', 'url': 'https://ideas.magneticcreative.com' }
] %}

{% set brandStoryCollection = [{
  'title': 'Aveva',
  'img': 'https://ideas.magneticcreative.com/hubfs/2023-web/brand-stories/listing/aveva.jpeg',
  'size': 'tall',
  'url': '#0',
}, {
  'title': 'Fugoo',
  'img': 'https://ideas.magneticcreative.com/hubfs/2023-web/brand-stories/listing/fugoo.jpeg',
  'size': 'short',
  'url': '#0',
}, {
  'title': 'Maha Black',
  'img': 'https://ideas.magneticcreative.com/hubfs/2023-web/brand-stories/listing/maha-black.jpeg',
  'size': 'tall',
  'url': '#0',
}] %}

{% set clientServiceTypes = [
  {'type': 'brand', 'label': 'Brand Intelligence' },
  {'type': 'creative', 'label': 'Creative Development' },
  {'type': 'digital', 'label': 'Digital Engagement' }
] %}

{% set officeLocations = [{
  "name": "Southern California (HQ)",
  "addr1": "1 Ridgegate, Suite 135",
  "addr2": "Temecula, CA 92590",
  "phone": "(951) 506.7662"
  }, {
  "name": "Northern Colorado",
  "addr1": "171 N. College Ave",
  "addr2": "Fort Collins, CO 80524",
  "phone": "(858) 602.8186"
  }, {
  "name": "South Africa",
  "addr1": "Shop 6 Mount Joy Corner - 2 Main Rd",
  "addr2": "Knysna, South Africa 6571",
  "phone": "+27 (0)44 382.0565"
  }
] %}

{% set socialItems = [
  { 'label': 'Instagram', 'icon': 'IG', 'url': 'https://www.instagram.com/magn3tic/' },
  { 'label': 'Facebook', 'icon': 'FB', 'url': 'https://www.facebook.com/magn3tic/' },
  { 'label': 'LinkedIn', 'icon': 'IN', 'url': 'https://www.linkedin.com/company/magnetic-creative/' },
  { 'label': 'Twitter', 'icon': 'TW', 'url': 'https://twitter.com/magn3tic' },
  { 'label': 'Youtube', 'icon': 'YT', 'url': 'http://www.youtube.com/c/Magneticcreative' },
  { 'label': 'Dribbble', 'icon': 'DR', 'url': 'https://dribbble.com/MagneticCreative' }
] %}